<!DOCTYPE html>
<html>
    <head>
        {{>head_default}}
    </head>
    <body>
        <div class="main-content">
            {{>body_header}}
            <p>{{errorMessage}}</p>
        </div>
        {{>body_footer}}
    </body>
</html>