<!DOCTYPE html>
<html>
    <head>
        {{>head_default}}
    </head>
    <body>
        <div class="main-content">
            {{>body_header}}
            <p>Use this site to manage your task!</p>

            {{{body_content}}}
        </div>
        {{>body_footer}}
    </body>
</html>